@* Sidebar for Admin *@
<div>
    <div class="dashboard-sidebar-section-title">Admin</div>

    <a asp-controller="AdminDashboard"
       asp-action="Index"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-gauge-high"></i>
        <span>Dashboard</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-user-doctor"></i>
        <span>Doctors</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-user-nurse"></i>
        <span>Receptionists</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-users"></i>
        <span>Patients</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-calendar-check"></i>
        <span>Appointments</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-credit-card"></i>
        <span>Payments</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-gear"></i>
        <span>Settings</span>
    </a>
</div>
