@* Sidebar for Patient *@
<div>
    <div class="dashboard-sidebar-section-title">Patient</div>

    <a asp-controller="PatientDashboard"
       asp-action="Index"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-gauge-high"></i>
        <span>Dashboard</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-calendar-check"></i>
        <span>My Appointments</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-user-doctor"></i>
        <span>Find Doctors</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-user"></i>
        <span>My Profile</span>
    </a>
</div>
