@* Sidebar for Receptionist (we'll expand later) *@
<div>
    <div class="dashboard-sidebar-section-title">Receptionist</div>

    <a asp-controller="ReceptionistDashboard"
       asp-action="Index"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-gauge-high"></i>
        <span>Dashboard</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-calendar-plus"></i>
        <span>Manage Appointments</span>
    </a>

    <a href="#"
       class="dashboard-sidebar-link">
        <i class="fa-solid fa-user"></i>
        <span>Patients</span>
    </a>
</div>
